## LaTeX
## Auxiliary files:
*.aux
*.lof
*.log
*.lot
*.out
*.toc

## Project files:
*.tcp
*.tps
*.texnicle
*.texnicle.backup

## Intermediate documents:
*.dvi
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.blg

## Build tool auxiliary files:
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)

# elsarticle (documentclass of Elsevier journals)
*.spl

## Emacs
*~
\#*#

##Git previous file versions
*.~*~